@import "../../config";
.home {
	& > * {
		width: 100%;
		min-height: 100vh;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 25vw;
			height: 25vw;
			background-color: #1d79f2;
			opacity: 0.2;
			filter: blur(220px);
		}
	}
	&-hero {
		height: 100vh !important;
		background-color: #111010;
		overflow-y: hidden;
		padding-top: 5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		@include respond(tab) {
			flex-flow: column;
		}
		& > * {
			width: 50%;
			height: 100%;
			@include respond(tab) {
				width: 100%;
				height: 50%;
			}
		}
		&-image {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		&-content {
			color: var(--white);
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			position: relative;
			span {
				width: 70%;
				&:first-child {
					margin: 1rem 0;
					font-size: 3.5rem;
					line-height: 4rem;
					font-family: var(--font-bold);
				}
				&:nth-child(2) {
					font-size: 2rem;
					line-height: 2.5rem;
					font-family: var(--font-thin);
				}
			}
			&__buttons {
				margin: 2rem 0;
				button {
					margin: 1rem 1.5rem 0 0;
				}
			}
			&-socials {
				position: absolute;
				bottom: 0;
				right: 2rem;
				width: 3rem;
				height: 15rem;
				display: flex;
				flex-flow: column;
				justify-content: space-evenly;
				align-items: center;
			}
		}
		&-scroll-btn {
			position: absolute;
			bottom: 1rem;
			left: 50%;
			transform: translateX(-50%);
			width: 2rem;
			height: 2rem;
			color: var(--white);
			animation: bounce 2s ease-in-out infinite;
		}
	}
	&-about {
		background-image: repeating-linear-gradient(
			to right,
			var(--bgcolor-700),
			var(--bgcolor-700) 1px,
			transparent 1px,
			transparent
		);
		background-size: 250px 250px;
		flex-flow: column;
		&-head {
			width: 80%;
			margin: 3rem auto;
			color: var(--indigo-700);
			text-transform: uppercase;
			font-family: var(--font-bold);
			display: flex;
			justify-content: space-between;
			align-items: center;
			&[data-aos="fade-left"] {
				justify-content: flex-end;
			}
			h1 {
				position: relative;
				text-align: center;
				font-size: 3rem;
				line-height: 3.5rem;
			}
			&-dots {
				position: absolute;
				z-index: -1;
				top: 50%;
				right: 0;
				transform: translate(25%, -50%);
			}
			&[data-aos="fade-left"] &-dots {
				left: 0;
				transform: translate(-25%, -50%);
			}
		}
		&-content {
			width: 80%;
			font-size: 2rem;
			line-height: 3rem;
			word-spacing: 0.5rem;
			position: relative;
			@include respond(phone) {
				font-size: 1.5rem;
				line-height: 2.25rem;
			}
			p {
				margin: 1rem 0;
			}
			background-size: contain;
			background-repeat: no-repeat;
			background-position-x: right;
			background-position-y: center;
			&-joinimg {
				width: 50vh;
				height: 50vh;
				max-width: fit-content;
				max-height: fit-content;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
		&-topimg {
			width: 5rem;
			height: 5rem;
			position: absolute;
			top: 3rem;
			left: 3rem;
			@include respond(phone) {
				display: none;
			}
		}
	}
	&-team {
		flex-flow: column;
		height: auto !important;
		min-height: 100vh;
		background-color: #111010;
		&-head {
			h1 {
				font-size: 3rem;
				@include respond(phone) {
					font-size: 2.5rem;
				}
			}
		}
		&-body {
			margin: 3rem;
			width: 100%;
		}
	}
	&-progothon {
		height: 100vh;
		background-color: #111010;
		background-blend-mode: darken;
		background-size: cover;
		background-color: rgba(6, 12, 34, 0.9);
		justify-content: flex-start;
		flex-flow: column;
		position: relative;
		&-head {
			padding: 0 3rem;
			h1 {
				font-size: 3rem;
				@include respond(phone) {
					font-size: 2.5rem;
				}
			}
		}
		&-body {
			left: 0;
			width: 100%;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: translateY(-2rem);
			&-container {
				width: 100%;
				height: 25rem;
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--white);
				top: 0;
				left: 0;
			}
			&-left {
				width: 50%;
				height: 100%;
				background-size: cover;
				background-position: center;
			}
			&-right {
				width: 50%;
				height: 100%;
				display: flex;
				flex-flow: column;
				justify-content: space-evenly;
				align-items: flex-start;
				h2 {
					font-size: 2.5rem;
					line-height: 3rem;
				}
				& > span {
					font-size: 1.75rem;
					line-height: 2rem;
				}
			}
		}
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-0.25rem);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(0.25rem);
	}
	100% {
		transform: translateY(0);
	}
}
