.progothon {
	width: 100%;
	height: auto;
	position: relative;
	& > section {
		min-height: 100vh;
	}
	&-hero {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-blend-mode: darken;
		background-color: rgba(0, 0, 0, 0.5);
		&-container {
			transform: translateY(2rem);
			color: var(--white);
			& > * {
				margin: 1rem 0;
			}
		}
		h1 {
			font-size: 3.5rem;
			line-height: 4rem;
			text-transform: uppercase;
		}
		h3 {
			font-size: 2rem;
			line-height: 2.5rem;
		}
		button {
			background-color: var(--pink);
			border-radius: 500px;
			padding: 0.875rem 1.35rem;
			display: inline-flex;
			align-items: center;
			span {
				margin: 0 0.3rem;
			}
		}
	}
	&-body {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		&-section {
			display: flex;
			flex-flow: column;
			height: 100vh;
		}
		&-content {
			width: 60%;
			padding: 3rem;
			h1 {
				font-size: 3rem;
				line-height: 3.5rem;
			}
			p {
				font-size: 1.25rem;
				line-height: 1.75rem;
				margin: 1rem 0;
			}
		}
	}
	&-aside {
		width: 40%;
		height: 100vh;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column;
		font-size: 4.5rem;
		line-height: 5rem;
		padding: 3rem;
		font-family: var(--font-bold);
		color: var(--white);
		position: static;
		top: 0;
		left: 0;
	}
}
