@import "../../config";
.progothon {
	width: 100%;
	height: auto;
	position: relative;
	& > section {
		min-height: 100vh;
	}
	&-hero {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-blend-mode: darken;
		background-color: rgba(0, 0, 0, 0.5);
		&-container {
			transform: translateY(2rem);
			color: var(--white);
			& > * {
				margin: 1rem 0;
			}
		}
		&-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			@include respond(phone) {
				flex-flow: column;
			}
			button {
				margin: 2rem 1rem;
			}
		}
		h1 {
			font-size: 3.5rem;
			line-height: 4rem;
			text-transform: uppercase;
		}
		h3 {
			font-size: 2rem;
			line-height: 2.5rem;
		}
		button {
			height: 2.75rem;
			background-color: transparent;
			outline: 2px solid var(--blue);
			border-radius: 4px;
			padding: 0 1.35rem;
			display: inline-flex;
			align-items: center;
			flex-flow: row;
			@include respond(phone) {
				font-size: 1.5rem;
				height: 3.5rem;
			}
			span {
				margin: 0 0.3rem;
			}
		}
	}
	&-body {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		&-section {
			display: flex;
			flex-flow: column;
			height: 100vh;
			li {
				&::marker {
					content: " > ";
				}
			}
		}
		&-content {
			width: 60%;
			padding: 3rem;
			h1 {
				font-size: 3rem;
				line-height: 3.5rem;
				margin: 1rem 0;
			}
			p {
				font-size: 1.25rem;
				line-height: 1.75rem;
				margin: 1rem 0;
			}
			@include respond(tab) {
				width: 75%;
			}
			@include respond(phone) {
				width: 100%;
				// height: 80vh;
				margin-top: 20vh;
			}
		}
		&-schedule {
			display: flex;
			flex-flow: column;
			justify-content: space-evenly;
			align-items: flex-start;
			&__day {
				font-size: 1.75rem;
				line-height: 2rem;
				margin: 0.5rem 0;
				font-family: var(--font-regular);
			}
			&__date {
				span {
					&:first-child {
						font-size: 5rem;
						line-height: 5.25rem;
						font-family: var(--font-bold);
						margin: 0.5rem 1rem 0.5rem 0;
					}
					&:last-child {
						font-size: 3.5rem;
						line-height: 3.75rem;
						font-family: var(--font-thin);
						margin: 0.5rem 0;
					}
				}
			}
			&__time {
				font-size: 1.75rem;
				line-height: 2rem;
				margin: 0.5rem 0;
				font-family: var(--font-thin);
			}
			&__p {
				width: 80%;
				font-size: 1.25rem;
				line-height: 1.5rem;
				margin: 1rem 0;
				height: 4rem;
			}
			&-btns {
				width: 60%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				button {
					border-radius: 500px;
					margin: 0 1.5rem 0 0;
					padding: 1rem;
					width: 2rem;
					height: 2rem;
					border: 2px solid var(--brown);
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	&-aside {
		width: 40%;
		height: 100vh;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		font-size: 4.5rem;
		line-height: 5rem;
		padding: 3rem;
		font-family: var(--font-bold);
		color: var(--white);
		position: static;
		top: 0;
		left: 0;
		z-index: 5;
		&-container {
			width: fit-content;
			display: flex;
			justify-content: space-evenly;
			align-items: flex-start;
			flex-flow: column;
			@include respond(tab) {
				transform-origin: 0 0;
				transform: rotateZ(-90deg);
				flex-flow: row;
			}
			@include respond(phone) {
				transform: none;
				font-size: 3.75rem;
			}
		}
		span:first-child {
			margin-right: 2rem;
		}
		@include respond(tab) {
			width: 25%;
			align-items: flex-end;
		}
		@include respond(phone) {
			width: 100%;
			height: 20vh;
		}
	}
	&-sponsors {
		width: 100%;
	}
	&-sponsor {
		height: 10rem;
		width: 15rem;
		position: relative;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		cursor: pointer;
		text-decoration: none;
		img {
			width: 100%;
			aspect-ratio: 1/1;
			object-fit: contain;
			transition: transform 400ms, filter 400ms;
		}
		&:is(:hover, :focus) {
			box-shadow: var(--shadow-elevation-4dp);
			& > img {
				transform: scale(1.1);
			}
		}
	}
	&-faqs {
		width: 100%;
		.accordian {
			@include respond(phone) {
				width: 100%;
			}
		}
	}
}
