.not-found {
	width: 100vw;
	height: 100vh;
	padding-top: var(--head-height);
	display: flex;
	justify-content: center;
	align-items: center;
	&-image {
		width: 50%;
		height: 100%;
		background-size: cover;
		background-position-x: center;
		background-position-y: bottom;
		background-repeat: no-repeat;
	}
	&-content {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		h2 {
			font-size: 3rem;
			line-height: 3.5rem;
			margin: 2rem;
		}
		h3 {
			font-size: 1.75rem;
			line-height: 2.5rem;
			margin: 1rem;
		}
		&-buttons {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			button {
				margin: 1rem;
			}
		}
	}
}
